@media screen and (min-width: 320px) {
    .hero-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media screen and (min-width: 375px){
    .container{
        max-width: 365px;
    }

    .hero-buttons {
        gap: 0;
    }
}

@media screen and (min-width: 768px){
    .container {
            max-width: 734px;
        }
    
    .made > .container{
        max-width: 644px;
    }

    .section-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.17;

    }

    .advantages {
            padding-top: 50px;
            padding-bottom: 50px;
        }

    .advantages-list{
        gap: 32px;
    }
    .advantages-item{
        width: calc((100% - 32px) / 2);
    }

    .taste {
        padding-top: 80px;
    }

    .taste-title{
    margin-bottom: 28px;
    }

    .taste-list{
        gap: 32px;
    }

    .taste-item {
        width: calc((100% - 32px) / 2);
    }

    .made {
        padding-top: 80px;
    }

    .made-title {
        margin-bottom: 50px;
    }

    .made-content {
        padding: 32px;
        max-width: 100%;
    }

    .made-head{
        margin-bottom: 28px;
    }

    .made-list {
        max-width: 464px;
    }


    .loved {
        padding: 80px 0;
    }

    .loved-title{
        margin-bottom: 91px;
    }

    .loved-list{
        column-gap: 16px;
        margin-bottom: 94px;
    }

    .loved-item {
        width: calc((100% - 16px) / 2);
    
    }



    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 54px;
    }

    .footer-main-text {
        color: var(--secondary-text-color);
        font-size: 28px;
        font-weight: 500;
        line-height: 1.21;
        letter-spacing: -0.02em;
        max-width: 300px;
        margin: 0;
    }

    .footer-bottom {
        flex-direction: row;
        align-items: center;
    }

    .footer-navigation {
        margin-bottom: 0;
    }

    .footer-menu {
        flex-direction: row;
        gap: 16px;
    }

    .footer-input {
        max-width: 233px;
        margin-right: 7px;
    }

    .footer-form-btn {
        max-width: 128px;
        padding: 14px 28px;
    }



    .hero {
        padding-bottom: 40px;
    }

    .hero-container{
        padding: 671px 40px 40px 40px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.0), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main-tab.jpg);
    }

    .hero-title {
        font-size: 28px;
        max-width: 484px;
    }

    .hero-btn {
        padding: 14px 40px;
    }

    .hero-link {
        padding: 14px 40px;
    }

    .hero-down {
        margin-left: auto;
    }
}




@media screen and (min-width: 1166px) {
    .container, .made>.container {
        max-width: 1166px;
    }
    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .advantages-list {
        padding-left: 18px;
        padding-right: 18px;
        gap: 88px;
    }

    .advantages-item {
        width: calc((100% - 88px * 2) / 3); 
    }

    .advantages-item:last-child::after{
    display: none;
}

    .advantages-item:not(:last-child)::after {
        content: '';
        position: absolute;
        right: -44px;
        top: 50%;
        transform: translateY(-50%);
        height: 124px;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.50);
    }

    .advantages-block {
        margin-bottom: 19px;
    }

    .taste {
        padding-top: 100px;
    }

    .taste-list {
        gap: 19px;
    }

    .taste-item {
        width: calc((100% - 57px) / 4);
    }


    .made {
        padding-top: 100px;
    }

    .made-title {
        padding-bottom: 50px;
    }

    .made-wrap {
        display: flex;
        justify-content: space-between;
    }

    .made-image{
        max-width: 600px;
        margin-bottom: 0;
    }

    .made-item:not(:last-child) {
        margin-bottom: 24px;
    }

    .made-content {
        max-width: 516px;
    }

    .made-list {
        max-width: 425px;
    }

    .loved {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .loved-title {
        margin-bottom: 91px; 

    }

    .loved-list {
        column-gap: 28px;
        margin-bottom: 49px;
    }

    .loved-item {
        width: calc((100% - 56px) / 3);
    }



    .footer-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
        margin-bottom: 24px;
    }

    .footer-main-text {
        font-size: 28px;
        line-height: 1.21;
    }

    .footer-menu {
        gap: 24px;
    }

    .footer-input-wrap {
        row-gap: 8px;
    }

    .footer-input {
        max-width: 313px;
        height: 52px;
    }

    .footer-form-btn {
        max-width: 137px;
        padding: 17px 32px;
    }

    .hero {
        padding-bottom: 72px;
    }
    .hero-container {
        padding: 381px 40px 40px 40px;
        background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.0), rgba(17, 17, 17, 0.40)), url(../images/chocolate_main.jpg);
    }

}